.div1{
  width:240px;
  height:100px;
}
*{
  border:0px;
}
.text1{
  border-bottom:1px solid black;

}
.bnt{
  background:#FFF;


  border-color:#999;
  border-style:solid;
  border-width:4px 1px 1px 1px;
  width:50px !important;
}